@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


$dark-grey: #232326;
$light-grey: #F3F2F0;
$red: #D40000;
$white: #FFFFFF;
$line: 1px solid #F3F2F0;

$r_minmob: 320px;
$r_mob360: 360px;
$r_mob400: 400px;
$r_mob480: 480px;
$r_mob530: 530px;
$r_tab_650: 650px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1450: 1450px;
$r_desk_1580: 1580px;
$r_desk_full_1750: 1750px;

html {
    font-size: 10px;
    @media (max-width: $r_mob530) {
        font-size: 8px;
    }
}

body {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 150%;
    background-color: $dark-grey;
    color: $light-grey;
    overflow-x: hidden;
    @media (max-width: $r_mob530) {
        font-size: 1.5rem;
    }
}

.container {
    width: 1140px;
    margin: 0 auto; //390px;
    @media (max-width: $r_desk_1280) {
        width: 900px;
    }
    @media (max-width: $r_desk) {
        width: 700px;
    }
    @media (max-width: $r_tab) {
        width: 600px;
    }
    @media (max-width: $r_tab_650) {
        width: 500px;
    }
    @media (max-width: $r_mob530) {
        width: 450px;
    }
    @media (max-width: $r_mob480) {
        width: 380px;
    }
    @media (max-width: $r_mob400) {
        width: 340px;
    }
}

.tittle {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: $r_mob480) {
        font-size: 1.5rem;
    }
}
.arrow {
    padding-left: 12px;
    display: inline-block;
    @media (max-width: $r_mob480) {
        padding-left: 8px;
        width: 13px;
    }
    &_up {
        display: block;
        position: absolute;
        top: -15px;
        right: 25px;
        @media (max-width: $r_mob530) {
            top: -10px;
        }
    }
   
    &_down {
        display: block;
        position: absolute;
        top: 35px;
        right: 25px;
        @media (max-width: $r_mob530) {
            top: 26px;
        }
    }
}


.header {
    position: -webkit-sticky;
    position: sticky;
    width: 1140px;
    background-color: $dark-grey;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    height: 104px; 
    @media (max-width: $r_desk_1280) {
        width: 900px;
    }
    @media (max-width: $r_desk) {
        width: 700px;
    }
    @media (max-width: $r_tab) {
        width: 600px;
    }
    @media (max-width: $r_tab_650) {
        width: 500px;
        flex-direction: row-reverse;
    }
    @media (max-width: $r_mob530) {
        width: 450px;
    }
    @media (max-width: $r_mob480) {
        width: 380px;
    }
    @media (max-width: $r_mob400) {
        width: 340px;
    }
    &__navigation {
        flex-grow: 1;   
        @media (max-width: $r_tab_650) {
            flex-grow:unset;
        }
    }
    &__nav {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            gap: 28px;
            @media (max-width: $r_desk) {
                display: none;
            }
    }
    &__link {
        text-decoration: none;
        color: $light-grey;
        cursor: pointer;
        transition: .3s;
        @media (max-width: $r_desk) {
            font-size: 2rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 1.75rem;
        }

        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    &__tel {
        padding-right: 13px;
        border-right: 1px solid $light-grey;
        box-sizing: border-box;
        @media (max-width: $r_tab_650) {
            border: none;
        }
    }
    &__mail {
        padding-left: 13px;
        @media (max-width: $r_tab_650) {
            display: none;
        }
    }
    &__menu {
        display: none;
        @media (max-width: $r_desk) {
            display: block;
            width: 34px;
            height: 34px;
            background-image: url(../images/menu.svg);
            background-color: $dark-grey;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 34px 30px;
            position: relative;
            border: none;
            padding: 0;
            transition: .2s;
               }
        @media (max-width: $r_mob530) {
            width: 26px;
            height: 20px;
            background-size: 26px 20px;
        }       

    }
}
.profile {
    position: relative;
    padding-top: 2rem; 
    // &__photo{
    //     background-image: url(../images/photo_main.png);
    //     @media (max-width: $r_desk_1280) {
    //         background-image: url(../images/photo_main_900.png);
    //     }
    // }
    @media (max-width: $r_mob480) {
        padding-top: 0; 
    }
    &__picture {
        background-image: url(../images/photo_main.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 310px;
        width: 1140px;
        @media (max-width: $r_desk_1280) {
            background-image: url(../images/photo_main_900.png);
            width: 900px;
        }
        @media (max-width: $r_desk) {
            background-image: url(../images/photo_main_700.png);
            width: 700px;
        }
        @media (max-width: $r_tab) {
            width: 600px;
        }
        @media (max-width: $r_tab_650) {
            background-image: url(../images/photo_main_500.png);
            width: 500px;
        }
        @media (max-width: $r_mob530) {
            width: 450px;
            
        }
        @media (max-width: $r_mob480) {
            width: 380px;
            height: 275px;
        }
        @media (max-width: $r_mob400) {
            background-image: url(../images/photo_main_340.png);
            width: 340px;
            height: 261px;
        }
    }
    &__info {
        padding-top: 10.3rem;
        padding-bottom: 4.5rem;
        border-bottom: $line;
        @media (max-width: $r_tab) {
            padding-top: 7rem;
        }
        @media (max-width: $r_tab_650) {
            padding-top: 6rem;
        }
        @media (max-width: $r_mob480) {
            padding-top: 0; 
            padding-bottom: 3.4rem;
        }
        @media (max-width: $r_mob480) {
            padding-bottom: 28px;
        }
    }   
    &__contact {
        padding-top: 4.9rem;
        display: flex;
        justify-content: space-between;
        text-align:justify;
        align-items: baseline;  
        @media (max-width: $r_desk) {
            padding-top: 8.9rem;
        }
        @media (max-width: $r_tab_650) {
            padding-top: 11rem;
        }
        @media (max-width: $r_mob480) {
            padding-top: 70px; 
        }
        @media (max-width: $r_mob400) {
            padding-top: 67px; 
        }
    }
    &__name {
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 400;
        @media (max-width: $r_desk_1280) {
            font-size: 2.5rem;
        } 
        @media (max-width: $r_mob480) {
            font-size: 2.25rem; 
        }
    }
    &__role {
        font-size: 7.4rem;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 700;
    position: relative;
    @media (max-width: $r_desk_1280) {
        font-size: 6.5rem;
    } 
    @media (max-width: $r_desk) {
        font-size: 5.5rem;
    }
    @media (max-width: $r_tab_650) {
        font-size: 4.1rem;
    }
    @media (max-width: $r_mob480) {
        font-size: 3.5rem; 
        padding-top: 5px;
    }
        &::before {
            content: '';
            position: absolute;
            width: 253px;
            height: 253px;
            border-radius: 100%;
            background: $red;
            z-index: -2;
            left: -11%;
            bottom: -327%;
            // @media (max-width: $r_desk_1450) {
            //     left: 3%;
            // }
                @media (max-width: $r_tab_650) {
                    width: 200px;
                    height: 200px;
                    left: -10%;
                    bottom: -307%;
                }
                @media (max-width: $r_mob480) {
                    width: 135px;
                    height: 135px; 
                    left: -13%;
                    top: -73px;
                }
                @media (max-width: $r_mob400) { 
                    left: -15%;
                    top: -74px;
                }
            }
            
        
        &::after {
            content: '';
            position: absolute;
            border: 36px solid rgba(0,0,0,0);
            border-bottom: 72px solid $light-grey; 
            left: -153px;
            top: -161px;
            z-index: -1;
            @media (max-width: $r_desk_1580) {
                    left: 2px;
                    top: 25px;
                     }
             @media (max-width: $r_desk_1280) {
                border: 27px solid rgba(0, 0, 0, 0);
                border-bottom: 62px solid #F3F2F0;
                left: 8px;
                top: 39px;
                     }
            @media (max-width: $r_tab_650) {
                border: 24px solid rgba(0, 0, 0, 0);
                border-bottom: 57px solid #F3F2F0;
                left: -4px;
                top: 30px;
            }      
            @media (max-width: $r_mob480) {
                border: 14px solid rgba(0, 0, 0, 0);
                border-bottom: 31px solid #F3F2F0;
                left: 2px;
                top: 37px; 
            }   
        }
    }
    &__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: $light-grey;
        cursor: pointer;
        font-weight: 700;
        position: relative;
        transition: .3s;
        @media (max-width: $r_desk) {
            font-size: 2.1rem;
        }
        @media (max-width: $r_tab_650) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 1.5rem; 
        }
        &:hover {
            color: $light-grey;
            text-decoration: none;
            border-bottom: 2px solid $light-grey;
            box-sizing: border-box;
            padding-bottom: 11px;
        }

        &_social {
            font-size: 1.6rem;
            text-decoration: none;
            color: $light-grey;
            cursor: pointer;
            font-weight: 400;
            @media (max-width: $r_mob480) {
                font-size: 1.5rem; 
            }
            &:hover {
                color: $red;
                text-decoration: none;
            }
        }
    }
    &__social {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            gap: 28px;
            position: relative;
            @media (max-width: $r_tab_650) {
                gap: 18px;
            }
            @media (max-width: $r_mob480) {
                gap: 10px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 106px;
                height: 106px;
                border-radius: 100%;
                background: $red;
                z-index: -1;
                right: 14.5%;
                bottom: -181%; 
                @media (max-width: $r_mob480) {
                    width: 60px;
                    height: 60px; 
                    right: 17.5%;
                    bottom: -110%;
                } 
            }
            &_ig {
                border-left: 1px solid $light-grey;
                border-right: 1px solid $light-grey;
                padding: 0 26px;
                @media (max-width: $r_tab_650) {
                    padding: 0px 10px;
                }
            }
    }
}
.about {
    padding-top: 47px;
    @media (max-width: $r_mob480) { 
        padding-top: 28px;
    }
    &__skills {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    @media (max-width: $r_tab) {
        display: grid;
        grid-template-columns: 1fr 1fr;
             }
    @media (max-width: $r_mob480) {
        row-gap: 3%;
            }       
    @media (max-width: $r_mob400) {
        column-gap: 0%;
            }   
        &_wp {
            @media (max-width: $r_mob400) {
                width: 150px;
                    } 
        }        
    }
    &__personal {
        padding-bottom: 8.7rem;
        border-bottom: $line;
        display:flex;
        justify-content: space-between;
        padding-top: 15rem;
        gap: 20%;
        @media (max-width: $r_desk_1280) {
            gap: 0;
            padding-top: 11rem;
        }
        @media (max-width: $r_desk) {
            display: flex;
            flex-direction: column;
        }
        @media (max-width: $r_desk_1280) {
            padding-top: 8rem;
        }
        @media (max-width: $r_tab_650) {
            padding-bottom: 5rem;
        }
        @media (max-width: $r_mob480) {
            padding-top: 60px;
            padding-bottom: 3rem;
        }
    }
    &__tittle {
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        flex-basis: 100%;
        @media (max-width: $r_tab_650) {
            font-size: 2.5rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 2rem;
        }
        
    }
    &__description {
        font-size: 2.8rem;
        font-weight: 400;
        font-size: 2.8rem;   
        opacity: .8;
        height: 168px;
        line-height:  150%;
        margin-top: -11px;
        flex-basis: 159%;
        @media (max-width: $r_desk_1280) {
            flex-basis: 123%;
            font-size: 2.5rem;
        }
        @media (max-width: $r_desk_1280) {
            font-size: 2.8rem;
        }
        @media (max-width: $r_tab_650) {
            font-size: 2.3rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 2rem;
        }
        &_s {
            opacity: .8;
            @media (max-width: $r_mob480) {
                font-size: 1.25rem;
            }
        }
    }
} 
.quals {
    padding: 4.7rem 1rem 16.7rem;
    display: grid;
    grid-template-columns: 220px 260px;
    justify-content: end;
    grid-gap: 36px 69px;
    @media (max-width: $r_desk_1280) {
        padding: 4.7rem 1rem 9.7rem;
    } 
    @media (max-width: $r_tab_650) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px 65px;
    }
    @media (max-width: $r_mob480) {
        padding: 3.7rem 1rem 6.7rem;
        grid-gap: 0 0;
    }
    @media (max-width: $r_mob400) {
        padding: 3.6rem 0rem 4.7rem;
    }
    

    &__tittle {
        font-size: 1.6rem;
        font-weight: 700;
        @media (max-width: $r_mob480) {
            font-size: 1.5rem;
        }
    }
    &__description {
        opacity: .8;
        @media (max-width: $r_mob480) {
            font-size: 1.25rem;
        }
        @media (max-width: $r_mob400) {
            width: 165px;
        }
    }
}   
.stages {
    margin-bottom: 18rem;
    margin-top: .2rem;
    @media (max-width: $r_desk_1280) {
        margin-bottom: 16rem;
    }
    @media (max-width: $r_tab_900) {
        margin-bottom: 13rem;
    }
    @media (max-width: $r_tab_650) {
        margin-bottom: 11rem;
    }
    &__grid {
        display: grid;
        grid-template-columns:  579px 560px; //72px 509px 560px; //1fr 2fr 3fr;
        align-items: center;
        padding: 28px 0;
        @media (max-width: $r_desk_1280) {
            grid-template-columns: 550px 300px;
        }
        @media (max-width: $r_desk) {
            grid-template-columns: 430px 250px;
            padding: 2.1rem 0;
        }
        @media (max-width: $r_tab) {
            grid-template-columns: 355px 220px;
            padding: 1.9rem 0;
        }
        @media (max-width: $r_tab_650) {
            grid-template-columns: 289px 220px;
            padding: 15px 0;
        }
        @media (max-width: $r_mob530) {
            grid-template-columns: 218px 239px;
        }
        @media (max-width: $r_mob480) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }
        @media (max-width: $r_mob400) {
            padding: 11px 0;
            gap: 0;
        }
        
        &_border {
            border-top: $line;
            border-bottom: $line;
        }
        &_2 {
            padding:24px 0;
            @media (max-width: $r_tab_650) {
                padding: 0px 0;
            }
        }
    }
    &__tittle {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 150%;
        position: relative;
        padding-left: 72px;
        @media (max-width: $r_desk_1280) {
            font-size: 2.5rem;
            padding-left: 50px;
        }
        @media (max-width: $r_tab) {
            font-size: 2.2rem;
            padding-left: 40px;
        }
        @media (max-width: $r_tab_650) {
            font-size: 1.8rem;
            padding-left: 32px;
        }
        @media (max-width: $r_mob530) {
            padding-left: 23px;
            font-size: 2rem;
        }
        @media (max-width: $r_mob400) {
            padding-left: 0;
            width: 140px;
        }
        &_01 {
            &::before {
                content: '01';
                display: inline-block;
                position: absolute;
                left: 0;
                box-sizing: border-box;
                @media (max-width: $r_mob400) {
                    content: '01 ';
                    display: inline-block;
                    left: 0;
                    position: relative;
                    padding-right: 1rem;
                }
            }
        }
        &_02 {
            &::before {
                content: '02';
                display: inline-block;
                position: absolute;
                left: 0;
                box-sizing: border-box;
                @media (max-width: $r_mob400) {
                    content: '02 ';
                    display: inline-block;
                    left: 0;
                    position: relative;
                    padding-right: 1rem;
                }
            }
        }
        &_03 {
            &::before {
                content: '03';
                display: inline-block;
                position: absolute;
                left: 0;
                box-sizing: border-box;
                @media (max-width: $r_mob400) {
                    content: '03 ';
                    display: inline-block;
                    left: 0;
                    position: relative;
                    padding-right: 1rem;
                }
            }
        }
    }
    &__description {
        font-size: 1.6rem;
        @media (max-width: $r_tab) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_tab_650) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob530) {
            font-size: 1.5rem;
        }
        @media (max-width: $r_mob400) {
            width: 150px;
        }
    }
}
.portfolio {
    &__tittle {
        position: relative;
        display: inline-block;
        font-size: 7.4rem;
        font-weight: 700;
        line-height: 90px;
        text-transform: uppercase;
        z-index: 1;
        @media (max-width: $r_desk_1280) {
            font-size: 6.7rem;
        }
        @media (max-width: $r_tab_650) {
            font-size: 5.7rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 3.5rem; 
            padding-top: 21px;
        }
        &::after {
            content: "";
            width: 465px;
            height: 465px;
            border-radius: 100%;
            background: $red;
            position: absolute;
            top: -102%;
            right: -63%;
            z-index: -1;
            @media (max-width: $r_tab_900) {
                width: 300px;
                height: 300px;
                top: -60%;
                right: -47%;
            }
            @media (max-width: $r_tab) {
                width: 210px;
                height: 210px;
                top: -30%;
                right: -28%;
            }
            @media (max-width: $r_tab_650) {
                top: -18%;
                right: -34%;
            }
            @media (max-width: $r_mob480) {
                width: 197px;
                height: 197px;
                top: 12%;
                right: -81%;
            }
        }
        &-back {
            background-color: $dark-grey;
            padding-bottom: 8.5rem;
            z-index: 1;
            @media (max-width: $r_desk_1280) {
                padding-bottom: 7.5rem;
            }
            @media (max-width: $r_tab_900) {
                padding-bottom: 1.5rem;
            }
            @media (max-width: $r_mob480) {
                padding-bottom: .5rem; 
            }
            
        }
    }
    &__description {
        @media (max-width: $r_desk_1280) {
            flex-basis: 29%;
        } 
    }
    &__list {
        padding-top: 5.9rem; 
        z-index: 1;  
        position: relative;
        @media (max-width: $r_mob480) {
            padding-top: 4rem; 
        }
    }
    &__example {
        display: flex;
        justify-content: space-between;
        padding-bottom:5.4rem;
        border-bottom: $line;
        @media (max-width: $r_desk) {
            flex-direction: column;
        } 
        @media (max-width: $r_mob480) {
            padding-bottom: 33px;
        }
    }
    &__preview {
        @media (max-width: $r_desk) {
            align-self: flex-end;
        } 
        @media (max-width: $r_tab_650) {
            align-self: center;
        } 
        @media (max-width: $r_mob400) {
            padding-top: 4px;
        } 
        &_img {
            @media (max-width: $r_mob530) {
                width:450px;
            } 
            @media (max-width: $r_mob480) {
                width:380px;
            }
            @media (max-width: $r_mob400) {
                width:340px;
            }
        }
    }
}
.gradient {
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
    background-size: cover;
    z-index: -1;
    margin-top: -60px;
    @media (max-width: $r_mob400) {
        margin-top: -80px;
    }
}
.example {
    &_2 {
        padding-top: 60px;
        @media (max-width: $r_mob400) {
            padding-top: 17px;
        }
    }
    
    &__tittle {
        padding-top: 1.1rem;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 150%;
        @media (max-width: $r_desk) {
            font-size: 3.5rem;
            padding-top: .7rem;
        } 
        @media (max-width: $r_tab_650) {
            font-size: 2.5rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 2rem;
        }
    }
    &__list {
        padding-left: 0;
        padding-top: 11px;
        list-style: none;
        line-height: 150%;
        font-size: 1.6rem;
        opacity: .8;
        @media (max-width: $r_desk) {
            font-size: 2rem;
        } 
        @media (max-width: $r_tab_650) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 1.5rem;
            padding-top: 0;
        }
    }
    &__item {
       padding: 4px 0;
       @media (max-width: $r_mob480) {
        padding: 5px 0;
    }
    }
    &__time {
        padding-top: 2.2rem;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        opacity: .8;
        @media (max-width: $r_desk_1280) {
            font-size: 1.4rem;
        } 
        @media (max-width: $r_desk) {
            padding-bottom: 3rem;
            font-size: 2rem;
        } 
        @media (max-width: $r_tab_650) {
            padding-bottom: 3rem;
            font-size: 1.6rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 1.5rem;
            padding-top: 3px;
        }
    }
  
}
.extra {
    padding-top: 15.2rem;
    @media (max-width: $r_desk_1280) {
        padding-top: 4.2rem;
    } 
    @media (max-width: $r_tab_650) {
        padding-top: 3.5rem;
    } 
    &__description {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 150%;
        width: 77%;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
            width: 85%;
        } 
        @media (max-width: $r_tab_650) {
            font-size: 1.8rem;
        } 
        @media (max-width: $r_mob530) {
            font-size: 2rem;
        }
        
    }
    &__text {
        border-bottom: $line;
        padding-bottom: 52px;
        @media (max-width: $r_tab_650) {
            padding-bottom: 3.5rem;;
        } 
        @media (max-width: $r_mob400) {
            padding-bottom: 0px;
            padding-top: 36px;
            box-sizing: border-box;
        }
        
    }
}
.advantage {
    padding-top: 63px;
    padding-bottom: 200px;
    @media (max-width: $r_tab_650) {
        padding-bottom: 100px;
    }
    @media (max-width: $r_mob480) {
        padding-bottom: 48px;
    }
    @media (max-width: $r_mob400) {
        padding-top: 27px;
    }
    &__grid {
        padding-left: 3px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 25.5%;
        grid-column-gap: 2%;
        @media (max-width: $r_desk) {
            grid-template-columns: repeat(2, 1fr);
        } 
        @media (max-width: $r_tab) {
            grid-row-gap: 4%;
        }
        @media (max-width: $r_tab_650) {
            grid-template-columns: 500px;
            width: 100%;
            grid-row-gap: 0%;
        }
        @media (max-width: $r_mob480) {
            grid-template-columns: 380px;
        }
        @media (max-width: $r_mob400) {
            grid-template-columns: 340px;
            grid-row-gap: 7px;
        }
    }
    &__item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center; 
        @media (max-width: $r_tab_650) {
            grid-template-columns: 98px 330px;
            grid-column-gap: 15%;
        }
        @media (max-width: $r_mob400) {
            grid-column-gap: 3%;
        }
    }
    &__text {
        margin-left: -44px;
        @media (max-width: $r_tab) {
            margin-left: -42px;
        }
    }
    &__tittle {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 19px;
        margin-bottom: 0px;
        @media (max-width: $r_mob530) {
            font-size: 1.5rem;
        }
    }
    &__description {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        opacity: .8;
        margin-top: 10px;
        @media (max-width: $r_mob530) {
            font-size: 1.5rem;
        }
    }
    &__img {
        @media (max-width: $r_mob480) {
            width: 26px;
            height: 26px;
        }
        
    }
}
.tools {
    padding-top: 1.4rem;
    padding-bottom: 5rem;
    @media (max-width: $r_desk_1280) {
        padding-top: 0;
        padding-bottom: 3rem;
    } 
    &__grid {
        display: grid;
        grid-template-columns:  repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        grid-gap: 0px;
    }
    &__item {

        margin: 0;
        width: 286px;
        height: 148px;
        padding: 0;
        filter: grayscale(1);
        transition: .3s;
        @media (max-width: $r_desk_1280) {
            width: 225px;
        }
        @media (max-width: $r_desk) {
            width: 175px;
        }
        @media (max-width: $r_tab) {
            width: 150px;
        }
        @media (max-width: $r_tab_650) {
            width: 125px;
            height: 80px;
        }
        @media (max-width: $r_mob530) {
            width: 112.5px;
            height: 60px;
        }
        @media (max-width: $r_mob480) {
            width: 95px;
            height: 50px;
        }
        @media (max-width: $r_mob480) {
            width: 81.6px;
            height: 42px;
        }
        
        
            &:hover {
                filter: grayscale(0);
            }
            
        &_r1 {
            border: $line;
        }
        &_r2 {
            border-bottom: $line;
            border-left: $line;
            border-right: $line;
        }
    }
    &__img {
        display:block;
        margin: 35px auto;
        @media (max-width: $r_tab_650) {
            width: 35px;
            height: 38px;
            margin: 21px auto;
        }
        @media (max-width: $r_mob530) {
            width: 25px;
            height: 28px;
            margin: 16px auto;
        }
        @media (max-width: $r_mob480) {
            width: 20px;
            height: 25px;
            margin: 10px auto;
        }
        
    }
}
.prices {
    padding-top: 62px;
    display:relative;
    @media (max-width: $r_tab_650) {
        padding-top: 0;
    }
    
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 16px;
        padding-top: 38px;
        border-bottom: $line;
        @media (max-width: $r_mob400) {
            padding-bottom: 27px;
            padding-top: 0;
        }

        &_h {
            padding-bottom: 50px;
            @media (max-width: $r_tab_650) {
                padding-bottom: 35px;
                flex-direction: column;
            }
            @media (max-width: $r_mob400) {
                padding-bottom: 0;
                padding-top: 38px;
            }
            &_c {
                padding-bottom:  31px;
                @media (max-width: $r_desk_1280) {
                    padding-bottom: 12rem;
                }
                @media (max-width: $r_tab_650) {
                    padding-bottom: 5rem;
                }
                @media (max-width: $r_mob400) {
                    padding-bottom: 0;
                }
            }
        }
        &_s {
            border:none;
            @media (max-width: $r_mob530) {
                border-bottom: $line;
            }
        }
    }
    &__left {
        @media (max-width: $r_tab_650) {
            flex-basis: 47%;
        }
        @media (max-width: $r_mob400) {
            flex-basis: 39%;
            padding-top: 27px;
            height: 222px; //**
            box-sizing: border-box; //**
        }
    }
// }
    &__tittle {
        &_l{
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-transform: uppercase; 
            padding-top: 5px;
            position: relative;
            @media (max-width: $r_tab_650) {
                font-size: 2.5rem;
            }
            @media (max-width: $r_mob480) {
                font-size: 2rem;
            }
            &::before {
                content: '';
                position: absolute;
                width: 140px;
                height: 140px;
                border-radius: 100%;
                background: $red;
                z-index: -1;
                left: -52%;
                bottom: -106%;
                @media (max-width: $r_desk_1450) {
                    left: 26%;
                }
                @media (max-width: $r_tab_650) {
                    left: -44%;
                }
                @media (max-width: $r_mob480) {
                    width: 138px;
                    height: 138px;
                    bottom: -195%;
                    left: -116%;
                }
                
            }
        }
        &_m {
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 150%;
            @media (max-width: $r_desk_1280) {
                font-size: 2.4rem;
            }
            @media (max-width: $r_tab_650) {
                font-size: 1.8rem;
            }
            @media (max-width: $r_mob530) {
                font-size: 2rem;
            }
        }
        // }
        &_s {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 150%;
            @media (max-width: $r_tab_650) {
                font-size: 1.4rem;
            }
            @media (max-width: $r_mob530) {
                font-size: 1.5rem;
            }
            @media (max-width: $r_mob400) {
                padding-left: 11px;
            }
        }
       
    }
    &__description {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 150%;
        opacity: .8;
        flex-basis: 49%;
        @media (max-width: $r_desk_1280) {
            font-size: 2rem;
            flex-basis: 56%;
            text-align: end;
        } 
        @media (max-width: $r_tab_650) {
            font-size: 1.8rem;
            text-align: start;
        } 
        @media (max-width: $r_mob530) {
            font-size: 2rem;
        }
        @media (max-width: $r_mob400) {
            padding-bottom: 13px;
            margin-top: 7px;
        }
        
        &_left {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            opacity: .8;
            margin-top: -3px;
            padding-bottom: 61px;
            @media (max-width: $r_tab_650) {
                font-size: 1.4rem;
                padding-bottom: 20px;
            }
            @media (max-width: $r_mob480) {
                font-size: 1.25rem;
            }
            @media (max-width: $r_mob400) {
                padding-bottom: 20px;
                padding-top: 6px;
                margin-top: 0;
            }
            &_first {
                @media (max-width: $r_mob400) {
                    padding-bottom: 5px;
                }
            }
        }
    }
    &__price {
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 150%;
        @media (max-width: $r_desk_1280) {
            font-size: 3.7rem;
        }
        @media (max-width: $r_tab_650) {
            font-size: 2.7rem;
        }
        @media (max-width: $r_mob530) {
            font-size: 2.75rem;
        }
        @media (max-width: $r_mob400) {
            padding-top: 9px;
        padding-left: 11px;
        }
        
        &_1 {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 90px;
                height: 90px;
                border-radius: 100%;
                background: $red;
                z-index: -1;
                left: -8%;
                bottom: -19%;
                @media (max-width: $r_tab_650) {
                    width: 60px;
                    height: 60px;
                    left: -15%;
                }
                @media (max-width: $r_mob400) {
                    width: 40px;
                    height: 40px;
                    left: -5%;
                    bottom: -1%;
                }
                
            }
        }
        &_2 {
            position: relative;
            @media (max-width: $r_mob400) {
                margin-top: -14px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 90px;
                height: 90px;
                border-radius: 100%;
                background: $red;
                z-index: -1;
                left: -8%;
                top: -28%; 
                @media (max-width: $r_tab_650) {
                    width: 60px;
                    height: 60px;
                    top: -59%;
                }
                @media (max-width: $r_mob400) {
                    width: 40px;
                    height: 40px;
                    top: 10%;
                    left: -5%;
                }
            }
        }
    }
    &__right {
        flex-basis: 49%;
        padding-top: 7px;
        @media (max-width: $r_tab_650) {
            flex-basis: 41%;
        }
        @media (max-width: $r_mob400) {
            padding-top: 27px;
            flex-basis: 53%;
            height: 222px; //**
            box-sizing: border-box; //**
        }
    }
    &__list {
        padding-left: 15px;
        padding-top: 3px;
        @media (max-width: $r_mob400) {
            padding-left: 17px;
        padding-top: 8px;
        
        }
        
    }
    &__item {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 200%;
        opacity: .8;
        @media (max-width: $r_tab_650) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob530) {
            font-size: 1.5rem;
        }
    }    
}
.contact {
    padding-top: 53px;
    @media (max-width: $r_mob530) {
        padding-top: 25px;
    }
    @media (max-width: $r_mob400) {
        padding-top: 23px;
    }

    &__ways {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 27%;
        @media (max-width: $r_desk_1280) {
            gap: 8%;
        }
        @media (max-width: $r_desk) {
            align-items: center;
            flex-direction: column-reverse;
            gap: 6rem;
        }
        @media (max-width: $r_mob480) {
            gap: 3rem;
        }
        @media (max-width: $r_mob400) {
            gap: 28px;
        }        
    }
    &__social {
        display: flex;
            list-style-type: none;
            margin: 0;
            padding-left: 2px;
            gap: 28px;
            @media (max-width: $r_desk) {
                padding-top: 4rem;
            }
            @media (max-width: $r_mob400) {
                padding-left: 0;
                gap: 9px;
            }
            &_ig {
                border-left: 1px solid $light-grey;
                border-right: 1px solid $light-grey;
                padding: 0 10px;
            }
    }
    &__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: $light-grey;
        cursor: pointer;
        font-weight: 500;
        line-height: 150%;
        transition: .3s;
        @media (max-width: $r_desk_1280) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob530) {
            font-size: 2rem;
        }
        @media (max-width: $r_mob480) {
            font-size: 1.5rem;
        }
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    &__tittle {
        font-weight: 700;
            font-size: 2.8rem;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-transform: uppercase; 
            padding-top: 5px;
            position: relative;
            @media (max-width: $r_mob530) {
                font-size: 2.5rem;
            }
            @media (max-width: $r_mob400) {
                font-size: 2rem;
            }
        &::before {
            content: '';
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            background: $red;
            z-index: -2;
            left: -53%;
            top: -25%;
            @media (max-width: $r_desk_1580) {
                left: -55px;
                top: -77px;
            }
            @media (max-width: $r_mob530) {
                width: 190px;
                height: 190px;
                left: -67px;
                top: -48px;
            }
            @media (max-width: $r_mob400) {
                left: -53px;
                top: -47px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            border: 35px solid rgba(0, 0, 0, 0);
            border-bottom: 68px solid #F3F2F0;
            left: -62%;
            top: -3%;
            z-index: -1;
            @media (max-width: $r_desk_1580) {
                    left: 164px;
                    top: -118px;
            }
            @media (max-width: $r_desk_1280) {
                border: 27px solid rgba(0, 0, 0, 0);
                border-bottom: 62px solid #F3F2F0;
                left: 176px;
                top: -107px;
            }
            @media (max-width: $r_mob530) {
                border: 13px solid rgba(0, 0, 0, 0);
                border-bottom: 30px solid #F3F2F0;
                left: 86px;
                top: -56px;
            }
            @media (max-width: $r_mob400) {
                left: 98px;
                top: -54px;
            }
            
        }
    }
    
}
.box {
    flex-basis: 560px;
    padding-top: 48px;
    @media (max-width: $r_desk) {
        flex-basis: auto;;
    }
    @media (max-width: $r_mob480) {
        padding-top: 31px;
    }
    &__text {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        opacity: .8;
        &_2 {
            padding-top:9px;
        }
    }
    &__input {
        display: block;
        background-color: #38383a; 
        width: 560px;
        box-sizing: border-box;
        padding: 0.1rem 2rem; 
        height: 62px;
        margin-top: -2px;
        border: none;
        padding-left: 20px;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        color: $white;  
        @media (max-width: $r_tab_650) {
            width: 500px;
        }
        @media (max-width: $r_mob530) {
            width: 450px;
        }
        @media (max-width: $r_mob480) {
            width: 380px;
        }
        @media (max-width: $r_mob400) {
            width: 340px;
            height: 57px;
        }
    }
}


.form {
    margin-top: -4px;
    width: 560px;
    box-sizing: border-box;
    @media (max-width: $r_tab_650) {
        width: 500px;
    }
    @media (max-width: $r_mob530) {
        width: 450px;
    }
    @media (max-width: $r_mob480) {
        width: 380px;
    }
    @media (max-width: $r_mob400) {
        width: 340px;
    }
    

    &__contact {
    background-color: $light-grey;
        opacity: .1;
        width: 100%;
        padding-left: 0;
        height: 6.2rem;
    }
    &__sub {
        display: block;
        margin: auto;
        margin-top:4.2rem;
        background-color: $red;
        text-align: center;
        border: none;
        width: 560px;
        height: 65px;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        color: $light-grey;
        @media (max-width: $r_tab_650) {
            width: 500px;
        }
        @media (max-width: $r_mob530) {
            width: 450px;
        }
        @media (max-width: $r_mob480) {
            width: 380px;
        }
        @media (max-width: $r_mob400) {
            width: 340px;
            height: 57px;
            margin-top: 30px;
        }
    }
}
.drop { 
    width: 560px;
    display:inline-block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    @media (max-width: $r_tab_650) {
        width: 500px;
    }
    @media (max-width: $r_mob530) {
        width: 450px;
    }
    @media (max-width: $r_mob480) {
        width: 380px;
    }
    @media (max-width: $r_mob400) {
        width: 340px;
    }
    &__item{
        width: 100%;
        list-style:none;
        background-color: $light-grey; 
        display:block;
        color: rgba(243, 242, 240, 0.4);
        text-decoration: none;
        padding: .9rem 2rem;
        transition: all .3s ease;
        background-color: #38383a;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        box-sizing: border-box;
       
         @media (hover: hover) {
              &:hover{
                color: $light-grey;
              }          
            } 
      }
      &__list{
        position: absolute;    
        width: 100%;
        padding:0;
        margin:0;
        text-align: start;
        transition: all .3s ease;    
        max-height:0;
        opacity:0;
        z-index:99;
        margin-top: -24px;
        box-sizing: border-box;
        li:first-of-type {
            opacity: 1;
        }
      }
    }
    input[type="checkbox"]{
      display:none;;
      &:checked{
        ~.drop__list{
          opacity:1;
          max-height: 173px;
          width: 100%;
        //   margin-top: -50px;
        }
        ~.control{       
          z-index:99;
          &:after{transform: rotate(180deg);}
        }
        ~.overlay-close{
          transform: none;
          pointer-events:initial;
        }
      }
    }

.control{
    width: 560px;
    position:relative;
    background-color: #38383a;
    text-align: start;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding: 2.4rem 2rem;
    margin: auto;
    color: $light-grey;
    display:inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s ease;   
    @media (max-width: $r_tab_650) {
        width: 500px;
    } 
    @media (max-width: $r_mob530) {
        width: 450px;
    }
    @media (max-width: $r_mob480) {
        width: 380px;
    }
    @media (max-width: $r_mob400) {
        width: 340px;
    }
    &:after{
      content:"";
      display:inline-block;            
      transition: transform .3s ease;
    }
  }
  .overlay-close{
    position: fixed;    
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:9;
    transform: translate(100%,0);
    pointer-events:none;
  }
  .contact_div {
    border-bottom: $line;
    padding-bottom: 12.9rem;
    @media (max-width: $r_desk_1280) {
        padding-bottom: 9rem;
    }
    @media (max-width: $r_desk) {
        padding-bottom: 7rem;
    }
    @media (max-width: $r_mob400) {
        padding-bottom: 60px;
    }
    

  }
  .footer {
    &__info {
        padding-top: 47px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        align-items: center;
        @media (max-width: $r_desk) {
            flex-direction: column-reverse;
            text-align: center;
        }
        @media (max-width: $r_mob480) {
            padding-top: 44px;
        }
        @media (max-width: $r_mob400) {
            padding-top: 42px;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        gap: 28px;
        @media (max-width: $r_mob530) {
            padding-top: 15px;
        }
        @media (max-width: $r_mob400) {
            padding-top: 18px;
            gap: 17px;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: $light-grey;
        text-decoration: none;
        transition: .3s;
        @media (max-width: $r_mob480) {
            font-size: 1.25rem;
        }
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    &__connect {
        display: flex;
        justify-content: space-between;
    }
    &__contact {
        text-decoration: none;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: $light-grey;
        transition: .3s;
        @media (max-width: $r_mob530) {
            font-size: 1.75rem;
        }
        &:hover {
            color: $red;
            text-decoration: none;
        }
        &_tel {
            border-right: 1px solid rgba($light-grey, .2);
            box-sizing: border-box;
            padding-right: 13px;
        }
        &_mail {
            padding-left: 13px;
        }
    }
    &__copy {
        padding-top: 13px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        // opacity: .3;
        color: #535254;
        @media (max-width: $r_desk) {
            flex-direction: column;
            text-align: center;
        }
        @media (max-width: $r_mob400) {
            padding-top: 7px;
        }
    }
    &__author_link {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        color: #535254;
        text-decoration: underline;
        transition: .3s;
        &:hover {
        color: $light-grey;
        opacity: 1.0;
        }
    }
  }



.popup {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 101;
    padding-left:0;
    margin-left: 0;
    background-color: rgba($light-grey, .3);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
        @media (max-width: $r_mob400) {
        margin: auto;
            }
    
    &__contact {
        background-color: $dark-grey;
        width: 600px;
        height: 572px;
        position: relative;
        @media (max-width: $r_mob400) {
            width: 360px;
            height: 577px;
            // padding-left:0;
            // margin-left: 0;
        }
       
        &__header {
            width: 560px;
            border-bottom: $line;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 10px;
            margin-left: 20px;
            @media (max-width: $r_mob400) {
                width: 340px;
                margin-left: 0;
                margin-left: 10px;
                padding-top: 49px;
                padding-bottom: 39px;
            }
        }
    }
    &__close {
        background-color: $dark-grey;
        border: none;
        top: 20px;
        right: 14px;
        position: absolute;
        cursor: pointer;
        @media (max-width: $r_mob400) {
            top: 11px;
            right: 10px;
        }
    }
    
    
    &__tittle {
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        // text-align: center;
        @media (max-width: $r_mob400) {
            font-size: 2rem;

        }
    }
    &__text {
        font-size: 1.6rem;
        line-height: 150%;
        @media (max-width: $r_mob400) {
            font-size: 16px;
            margin: 46px auto 0;
            width: 270px;
            width: 270px;
        }
    }
    &__box {
        flex-basis: 560px;
        padding-top: 29px;
        padding-left: 20px;
        align-items: flex-start;
        @media (max-width: $r_mob400) {
            width: 340px;
            padding-left: 10px;
            padding-top: 32px;
        }
        &__text {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 150%;
            opacity: .8;
            &_2 {
                padding-top:9px;
                font-size: 10px;
            }
        }
    }
       
        
    &__input {
        display: block;
        background-color: #38383a; 
        width: 560px;
        box-sizing: border-box;
        padding: 0.1rem 2rem; 
        height: 65px;
        margin-top: -2px;
        border: none;
        padding-left: 20px;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        color: $white;  
        @media (max-width: $r_mob400) {
            width: 340px;
            height: 55px;
        }
    }
    &__form {
        margin-top: -4px;
        width: 560px;
        box-sizing: border-box;
        @media (max-width: $r_mob400) {
            width: 340px;
        }
        
        &__contact {
        background-color: $light-grey;
            opacity: .1;
            width: 100%;
            padding-left: 0;
            height: 6.2rem;
        }
        &__sub {
            display: block;
            margin-top: 40px;
            background-color: $red;
            text-align: center;
            border: none;
            width: 560px;
            height: 65px;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 150%;
            color: $light-grey;
         
            @media (max-width: $r_mob400) {
                width: 340px;
                height: 55px;
                margin-top: 35px;
            }
        }
    }
    &__drop{ 
        width: 560px;
        display:inline-block;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        @media (max-width: $r_mob400) {
            width: 340px;
        }
        &__item{
            width: 100%;
            list-style:none;
            background-color: $light-grey; 
            display:block;
            color: rgba(243, 242, 240, 0.4);
            text-decoration: none;
            padding: .9rem 2rem;
            transition: all .3s ease;
            background-color: #38383a;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            box-sizing: border-box;
            @media (max-width: $r_mob400) {
                font-size: 10px;
            }
           
             @media (hover: hover) {
                  &:hover{
                    color: $light-grey;
                  }          
                } 
          }
          &__list{
            position: absolute;    
            background-color: greenyellow;
            width: 100%;
            padding:0;
            margin:0;
            text-align: start;
            transition: all .3s ease;    
            max-height:0;
            opacity:0;
            z-index:99;
            margin-top: -24px;
            box-sizing: border-box;
            li:first-of-type {
                opacity: 1;
            }
          }
          input[type="checkbox"]{
            display:none;;
            &:checked{
              ~.popup__drop__list{
                opacity:1;
                max-height: 173px;
                width: 100%;
              //   margin-top: -50px;
              }
              ~.popup__control{       
                z-index:99;
                &:after{transform: rotate(180deg);}
              }
              ~.popup__overlay-close{
                transform: none;
                pointer-events:initial;
              }
            }
          }
        }
        
    
    &__control{
        width: 560px;
        position:relative;
        background-color: #38383a;
        text-align: start;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        padding: 2.4rem 2rem;
        margin: auto;
        color: $light-grey;
        display:inline-block;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .3s ease;   
     
        @media (max-width: $r_mob400) {
            width: 340px;
            font-size: 10px;
        }
        &:after{
          content:"";
          display:inline-block;            
          transition: transform .3s ease;
        }
      }
      &__overlay-close{
        position: fixed;    
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:9;
        transform: translate(100%,0);
        pointer-events:none;
      }
    &__arrow {

        &_up {
            display: block;
            position: absolute;
            top: -15px;
            right: 25px;
            @media (max-width: $r_mob530) {
                top: -10px;
            }
        }
       
        &_down {
            display: block;
            position: absolute;
            top: 33px;
            right: 24px;
            @media (max-width: $r_mob530) {
                top: 26px;
            }
        }
    }
  }
  
  .popup.active {
    opacity: 1;
    visibility: visible;
  }

  .popup__menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 101;
    padding-left:0;
    margin-left: 0;
    background-color: rgba($light-grey, .3);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
        @media (max-width: $r_tab_650) {
            justify-content: flex-end;
        }
        @media (max-width: $r_mob530) {
            justify-content: center;
            align-items: center;
            background-color: $dark-grey
        }
        @media (max-width: $r_mob400) {
        margin: auto;
            }
        &-mob {
            background-color: $dark-grey;
        width: 360px;
        height: 618px;
        position: relative;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        }
        &-close {
            background-color: $dark-grey;
        border: none;
        top: 19px;
        right: 9px;
        position: absolute;
        cursor: pointer;
        @media (max-width: $r_mob400) {
            top: 11px;
            right: 10px;
        }
        }
  }
  .popup__nav {
        background-color: $dark-grey;
        // width: 360px;
        // height: 577px;
        // position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        padding: 0;
        text-align: center;
        
        border-bottom: 1px solid rgba($light-grey, .2);
        margin-top: 78px;
        @media (max-width: $r_mob400) {
            width: 360px;
            height: 577px;
            // padding-left:0;
            // margin-left: 0;
        }
        &__item {
            width: 100%;
            border-top: 1px solid rgba($light-grey, .2);
            height: 79px;
            box-sizing: border-box;
            padding-top:20px;
           
            
        }
        &__link {
            font-weight: 400;
            font-size: 26px;
            line-height: 150%;
            color: $light-grey;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: $red;
            text-decoration: none;
            }
        }
  }
  .popup__footer {
    width: 100%;
    padding-top: 29px;
    
  }
  .popup__contacts {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $light-grey;
    transition: .3s;
    @media (max-width: $r_mob530) {
        font-size: 1.75rem;
    }
    &:hover {
        color: $red;
        text-decoration: none;
    }
    &_tel {
        border-right: 1px solid rgba($light-grey, .2);
        box-sizing: border-box;
        padding-right: 13px;
    }
    &_mail {
        padding-left: 13px;
    }
    &__social {
        display: flex;
        justify-content: center;
            list-style-type: none;
            margin: 0;
            padding-left: 0px;
            gap: 9px;
            padding-top: 18px;
            
            &_ig {
                border-left: 1px solid rgba($light-grey, .2);
                border-right: 1px solid rgba($light-grey, .2);
                padding: 0 10px;
            }
    }
    &__link {
        font-size: 12px;
        text-decoration: none;
        color: $light-grey;
        cursor: pointer;
        font-weight: 500;
        line-height: 150%;
        transition: .3s;

        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
  }

  .popup__menu.active {
    opacity: 1;
    visibility: visible;
  }