@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


$dark-grey: #232326;
$light-grey: #F3F2F0;
$red: #D40000;
$white: #FFFFFF;
$line: 1px solid #F3F2F0;

$r_minmob: 320px;
$r_mob360: 360px;
$r_mob400: 400px;
$r_mob500: 500px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1450: 1450px;
$r_desk_1580: 1580px;
$r_desk_full_1750: 1750px;

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 150%;
    background-color: $dark-grey;
    color: $light-grey;
    overflow-x: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto; //390px;
    @media (max-width: $r_desk_1280) {
        width: 900px;
    }
}

.tittle {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.arrow {
    padding-left: 12px;
    display: inline-block;
}
.header {
    position: -webkit-sticky;
    position: sticky;
    width: 1140px;
    background-color: $dark-grey;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    height: 104px; 
    @media (max-width: $r_desk_1280) {
        width: 900px;
    }
    &__navigation {
        flex-grow: 1;   
    }
    &__nav {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            gap: 28px;
    }
    &__link {
        text-decoration: none;
        color: $light-grey;
        cursor: pointer;
        transition: .3s;
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    &__tel {
        padding-right: 13px;
        border-right: 1px solid $light-grey;
        box-sizing: border-box;
    }
    &__mail {
        padding-left: 13px;
    }
}
.profile {
    position: relative;
    padding-top: 2rem; 
    // &__photo{
    //     background-image: url(../images/photo_main.png);
    //     @media (max-width: $r_desk_1280) {
    //         background-image: url(../images/photo_main_900.png);
    //     }
    // }
    &__picture {
        background-image: url(../images/photo_main.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 310px;
        width: 1140px;
        @media (max-width: $r_desk_1280) {
            background-image: url(../images/photo_main_900.png);
            width: 900px;
        }
    }
    &__info {
        padding-top: 10rem;
        padding-bottom: 4.5rem;
        border-bottom: $line;
    }   
    &__contact {
        padding-top: 4.9rem;
        display: flex;
        justify-content: space-between;
        text-align:justify;
        align-items: baseline;  
    }
    &__name {
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 400;
        @media (max-width: $r_desk_1280) {
            font-size: 2.5rem;
        } 
    }
    &__role {
        font-size: 7.4rem;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 700;
    position: relative;
    @media (max-width: $r_desk_1280) {
        font-size: 6.5rem;
    } 
        &::before {
            content: '';
            position: absolute;
            width: 253px;
            height: 253px;
            border-radius: 100%;
            background: $red;
            z-index: -2;
            left: -11%;
            bottom: -327%;
            @media (max-width: $r_desk_1450) {
                left: 3%;
            }
            
        }
        &::after {
            content: '';
            position: absolute;
            border: 36px solid rgba(0,0,0,0);
            border-bottom: 72px solid $light-grey; 
            left: -153px;
            top: -161px;
            z-index: -1;
            @media (max-width: $r_desk_1580) {
                left: 49px;
                top: -219px;
            }
            @media (max-width: $r_desk_1450) {
                visibility: hidden;
            }
        }
    }
    &__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: $light-grey;
        cursor: pointer;
        font-weight: 700;
        position: relative;
        transition: .3s;
        &:hover {
            color: $light-grey;
            text-decoration: none;
            border-bottom: 2px solid $light-grey;
            box-sizing: border-box;
            padding-bottom: 11px;
        }

        &_social {
            font-size: 1.6rem;
            text-decoration: none;
            color: $light-grey;
            cursor: pointer;
            font-weight: 400;
            &:hover {
                color: $red;
                text-decoration: none;
            }
        }
    }
    &__social {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            gap: 28px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 106px;
                height: 106px;
                border-radius: 100%;
                background: $red;
                z-index: -1;
                right: 14.5%;
                bottom: -181%;  
            }
            &_ig {
                border-left: 1px solid $light-grey;
                border-right: 1px solid $light-grey;
                padding: 0 26px;
            }
    }
}
.about {
    padding-top: 47px;
    &__skills {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    }
    &__personal {
        padding-bottom: 8.5rem;
        border-bottom: $line;
        display:flex;
        justify-content: space-between;
        padding-top: 15rem;
        gap: 20%;
        @media (max-width: $r_desk_1280) {
            gap: 0;
            padding-top: 11rem;
        }
        
    }
    &__tittle {
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        flex-basis: 100%;
    }
    &__description {
        font-size: 2.8rem;
        font-weight: 400;
        font-size: 2.8rem;   
        opacity: .8;
        height: 168px;
        line-height: 42px;
        margin-top: -11px;
        flex-basis: 159%;
        @media (max-width: $r_desk_1280) {
            flex-basis: 123%;
            font-size: 2.5rem;
        }
        &_s {
            opacity: .8;
        }
    }
} 
.quals {
    padding: 4.7rem 1rem 16.7rem;
    display: grid;
    grid-template-columns: 220px 260px;
    justify-content: end;
    grid-gap: 40px 70px;
    @media (max-width: $r_desk_1280) {
        padding: 4.7rem 1rem 9.7rem;
    } 

    &__tittle {
        font-size: 1.6rem;
        font-weight: 700;
    }
    &__description {
        opacity: .8;
    }
}   
.stages {
    margin-bottom: 18rem;
    margin-top: .2rem;
    @media (max-width: $r_desk_1280) {
        margin-bottom: 16rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: 72px 509px 560px; //1fr 2fr 3fr;
        align-items: center;
        padding: 27px 0;
        @media (max-width: $r_desk_1280) {
            grid-template-columns: 72px 450px 300px;
        }
        &_border {
            border-top: $line;
            border-bottom: $line;
        }
    }
    &__num, &__tittle {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 42px;
        @media (max-width: $r_desk_1280) {
            font-size: 2.5rem;
        }
    }
    &__description {
        font-size: 1.6rem;
    }
}
.portfolio {
    
    // &__tittle-back {
    //     background-color: $dark-grey;
    //     padding-bottom: 8.5rem;
    //     z-index: 1;
    // }
    &__tittle {
        position: relative;
        display: inline-block;
        font-size: 7.4rem;
        font-weight: 700;
        line-height: 90px;
        text-transform: uppercase;
        z-index: 1;
        @media (max-width: $r_desk_1280) {
            font-size: 6.7rem;
        }
        &::after {
            content: "";
            width: 465px;
            height: 465px;
            border-radius: 100%;
            background: $red;
            position: absolute;
            top: -102%;
            right: -63%;
            z-index: -1;
        }
        &-back {
            background-color: $dark-grey;
            padding-bottom: 8.5rem;
            z-index: 1;
            @media (max-width: $r_desk_1280) {
                padding-bottom: 7.5rem;
            }
        }
    }
    &__description {
        @media (max-width: $r_desk_1280) {
            flex-basis: 29%;
        } 
    }
    &__list {
        padding-top: 5.9rem; 
        z-index: 1;  
        position: relative;
    }
    &__example {
        display: flex;
        justify-content: space-between;
    }
    &__example {
        padding-bottom:5.4rem;
        border-bottom: $line;
    }
}
.gradient {
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
    background-size: cover;
    z-index: -1;
    margin-top: -60px;
}
.example {
    &_2 {
        padding-top: 60px;
    }
    
    &__tittle {
        padding-top: 11px;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 150%;
    }
    &__list {
        padding-left: 0;
        padding-top: 11px;
        list-style: none;
        line-height: 150%;
        font-size: 1.6rem;
        opacity: .8;
    }
    &__item {
       padding: 4px 0;
    }
    &__time {
        padding-top: 22px;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        opacity: .8;
        @media (max-width: $r_desk_1280) {
            font-size: 1.4rem;
        } 
    }
  
}
.extra {
    padding-top: 15.2rem;
    @media (max-width: $r_desk_1280) {
        padding-top: 4.2rem;
    } 
    &__description {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 150%;
        width: 77%;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
            width: 85%;
        } 
        
    }
    &__text {
        border-bottom: $line;
        padding-bottom: 52px;;
    }
}
.advantage {
    padding-top: 63px;
    padding-bottom: 200px;
    &__grid {
        padding-left: 3px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 25.5%;
        grid-column-gap: 2%;
    }
    &__item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center; 
    }
    &__text {
        margin-left: -44px;
    }
    &__tittle {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 19px;
        margin-bottom: 0px;
    }
    &__description {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        opacity: .8;
        margin-top: 10px;
    }
}
.tools {
    padding-top: 1.4rem;
    padding-bottom: 5rem;
    @media (max-width: $r_desk_1280) {
        padding-top: 0;
    } 
    &__grid {
        display: grid;
        grid-template-columns:  repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        grid-gap: 0px;
    }
    &__item {

        margin: 0;
        width: 286px;
        height: 148px;
        padding: 0;
        filter: grayscale(1);
        transition: .3s;
        @media (max-width: $r_desk_1280) {
            width: 225px;
        }
            &:hover {
                filter: grayscale(0);
            }
            
        &_r1 {
            border: $line;
        }
        &_r2 {
            border-bottom: $line;
            border-left: $line;
            border-right: $line;
        }
    }
    &__img {
        display:block;
        margin: 35px auto;
    }
}
.prices {
    padding-top: 62px;
    display:relative;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 16px;
        padding-top: 38px;
        border-bottom: $line;
        &_h {
            padding-bottom: 50px;
            &_c {
                padding-bottom:  31px;
            }
        }
        &_s {
            border:none;
        }
    }
    &__tittle {
        &_l{
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-transform: uppercase; 
            padding-top: 5px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 140px;
                height: 140px;
                border-radius: 100%;
                background: $red;
                z-index: -1;
                left: -52%;
                bottom: -106%;
                @media (max-width: $r_desk_1450) {
                    left: 26%;
                }
                
            }
        }
        &_m {
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 150%;
            @media (max-width: $r_desk_1280) {
                font-size: 2.4rem;
            }
        }
        &_s {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 150%;
        }
       
    }
    &__description {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 150%;
        opacity: .8;
        flex-basis: 49%;
        @media (max-width: $r_desk_1280) {
            font-size: 2rem;
            flex-basis: 56%;
            text-align: end;
        }  
        
        &_left {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            opacity: .8;
            margin-top: -3px;
            padding-bottom: 61px;
        }
    }
    &__price {
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 150%;
        @media (max-width: $r_desk_1280) {
            font-size: 3.7rem;
        }
        &_1 {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 90px;
                height: 90px;
                border-radius: 100%;
                background: $red;
                z-index: -1;
                left: -8%;
                bottom: -19%;
            }
        }
        &_2 {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 90px;
                height: 90px;
                border-radius: 100%;
                background: $red;
                z-index: -1;
                left: -8%;
                top: -28%;
            }
        }
    }
    &__right {
        flex-basis: 49%;
        padding-top: 7px;
    }
    &__list {
        padding-left: 15px;
        padding-top: 3px;
    }
    &__item {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 200%;
        opacity: .8;
    }    
}
.contact {
    padding-top: 53px;
    &__ways {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__social {
        display: flex;
            list-style-type: none;
            margin: 0;
            padding-left: 2px;
            gap: 28px;
            &_ig {
                border-left: 1px solid $light-grey;
                border-right: 1px solid $light-grey;
                padding: 0 26px;
            }
    }
    &__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: $light-grey;
        cursor: pointer;
        font-weight: 500;
        line-height: 150%;
        transition: .3s;
        @media (max-width: $r_desk_1280) {
            font-size: 1.4rem;
        }
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    &__tittle {
        font-weight: 700;
            font-size: 2.8rem;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-transform: uppercase; 
            padding-top: 5px;
            position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            background: $red;
            z-index: -2;
            left: -53%;
            top: -25%;
            @media (max-width: $r_desk_1450) {
                left: 34%;
            }
            @media (max-width: $r_desk_1280) {
                width: 250px;
                height: 250px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            border: 35px solid rgba(0, 0, 0, 0);
            border-bottom: 68px solid #F3F2F0;
            left: -62%;
            top: -3%;
            z-index: -1;
            @media (max-width: $r_desk_1580) {
                left: 32%;
                top: 113%;
            }
            @media (max-width: $r_desk_1280) {
                display: none;
            }
        }
    }
}
.box {
    flex-basis: 49%;
    padding-top: 48px;
    &__text {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        opacity: .8;
        &_2 {
            padding-top:9px;
        }
    }
    &__input {
        display: block;
        background-color: #38383a; 
        width: 93%;
        padding: 0.1rem 2rem; 
        height: 62px;
        margin-top: -2px;
        border: none;
        padding-left: 20px;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        color: $white;  
    }
}

.arrow_down {
    display: block;
    position: absolute;
    top: 33px;
    right: -12px;
}

.form {
    margin-top: -4px;
    width: 560px;

    &__contact {
    background-color: $light-grey;
        opacity: .1;
        width: 100%;
        padding-left: 0;
        height: 6.2rem;
    }
    &__sub {
        display: block;
        margin: auto;
        margin-top:4.2rem;
        background-color: $red;
        text-align: center;
        border: none;
        width: 560px;
        height: 65px;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        color: $light-grey;
    }
}
.drop { 
    width: 523px;
    display:inline-block;
    position: relative;
    text-align: center;
    &__item{
        width: 100%;
        list-style:none;
        background-color: $light-grey; 
        display:block;
        color: rgba(243, 242, 240, 0.4);
        text-decoration: none;
        padding: .9rem 2rem;
        transition: all .3s ease;
        background-color: #38383a;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
         @media (hover: hover) {
              &:hover{
                color: $light-grey;
              }          
            } 
      }
      &__list{
        position: absolute;    
        width: 100%;
        padding:0;
        margin:0;
        text-align: start;
        transition: all .3s ease;    
        max-height:0;
        opacity:0;
        z-index:99;
        margin-top: -24px;
        li:first-of-type {
            opacity: 1;
        }
      }
    }
    input[type="checkbox"]{
      display:none;;
      &:checked{
        ~.drop__list{
          opacity:1;
          max-height: 173px;
          width: 100%;
        //   margin-top: -50px;
        }
        ~.control{       
          z-index:99;
          &:after{transform: rotate(180deg);}
        }
        ~.overlay-close{
          transform: none;
          pointer-events:initial;
        }
      }
    }
.arrow_up {
    display: block;
    position: absolute;
    top: -9px;
    right: -12px;
}
.control{
    width: 100%;
    position:relative;
    background-color: #38383a;
    text-align: start;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding: 2.4rem 2rem;
    margin: auto;
    color: $light-grey;
    display:inline-block;
    cursor: pointer;
    transition: all .3s ease;    
    &:after{
      content:"";
      display:inline-block;            
      transition: transform .3s ease;
    }
  }
  .overlay-close{
    position: fixed;    
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:9;
    transform: translate(100%,0);
    pointer-events:none;
  }
  .contact_div {
    border-bottom: $line;
    padding-bottom: 12.9rem;
    @media (max-width: $r_desk_1280) {
        padding-bottom: 9rem;
    }

  }
  .footer {
    &__info {
        padding-top: 47px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        align-items: center;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        gap: 28px;
    }
    &__link {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: $light-grey;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    &__connect {
        display: flex;
        justify-content: space-between;
    }
    &__contact {
        text-decoration: none;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: $light-grey;
        transition: .3s;
        &:hover {
            color: $red;
            text-decoration: none;
        }
        &_tel {
            border-right: 1px solid rgba($light-grey, .2);
            box-sizing: border-box;
            padding-right: 13px;
        }
        &_mail {
            padding-left: 13px;
        }
    }
    &__copy {
        padding-top: 13px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        // opacity: .3;
        color: #535254;
    }
    &__author_link {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
        color: #535254;
        text-decoration: underline;
        transition: .3s;
        &:hover {
        color: $light-grey;
        opacity: 1.0;
        }
    }
  }